.header {
    background-color: var(--header-color);
    padding: var(--spacing-sm);
    text-align: center;
    margin-bottom: var(--spacing-sm);
}

.header--nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: var(--spacing-sm);
}

.header--nav__link {
    text-decoration: none;
    color: var(--nav-link-color);

    &:hover {
        background-color: var(--nav-link-color);
        color: var(--header-color);
        transition: ease-in-out 0.3s;
        padding: var(--spacing-sm);
    }
}