@import url('./header.css');
@import url('./box.css');
@import url('./cards.css');
@import url('./form.css');
@import url('./button.css');
@import url('./popover.css');
@import url('./quiz.css');

:root {
    --header-color: orange;
    --nav-color: #25221B;
    --box-color: #F3A505;
    --nav-link-color: white;
    --border-color: #ccc;

    --spacing-sm: 1.25rem;
    --spacing-xm: 1.875rem;
    --spacing-md: 2.5rem;
    --spacing-lg: 3.75rem;
    --spacing-xl: 5rem;
    --spacing-xxl: 7.5rem;
}